[submodule "deploy/common/RealtimeEfficientTAM"]
	path = deploy/common/RealtimeEfficientTAM
	url = https://github.com/lzyang2000/RealtimeEfficientTAM.git
[submodule "deploy/common/unitree_sdk2_wrapper"]
	path = deploy/common/unitree_sdk2_wrapper
	url = https://github.com/lzyang2000/unitree_sdk2_wrapper.git
